body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 800;
  text-shadow: 0 0 0;
}

h3 {
  font-family: 'wt014';
  font-size: 18px;
  text-align: center;
  color: #6747c9;
  margin: 5% 5% 3% 5%;
  font-weight: 700;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h1,h2,h4,h5,h6,p {
  font-family: 'xingothic-tc';
  text-shadow: 0 0 0;
}

p {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 25px;
  font-weight: 600;
  text-shadow: 0 0 0;
  text-align: justify;
  color: #000;
  font-weight: 400;
}

h2{
  color: #541a8b;
  margin: 3% 5%;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  background: linear-gradient(135deg, #50c8ff, #da50ff);
}

.content{
  width: 100%;
  top: 60px;
  bottom: 70px;
  position: absolute;
  overflow: auto;
  text-align: center;
}

.footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  height: 70px;
}

li.block{
  margin: 7% 0;
  border: #9796ff 1px solid;
  border-radius: 10px;
  box-shadow: 5px 5px rgbA(250,80,255,0.2);
  position: relative;
}

li.block h2{
  text-align: left;
}

li.block a{
  height: 90%;
  display: block;
  position: relative;
  padding: 1.5em 1em 1.5em 6.25em;
  text-decoration: none
}

li.block img{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.itemView{
  z-index: 0;
  position: fixed;
  max-height: 65%;
  width: 70%;
  background: #ffffff;
  border:#8a96ff double;
  text-align: center;
  overflow: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.itemView img{
  width: 100%;
}
.itemView a{
  text-decoration: none;
  margin: 5% auto;
  padding: 5% 0;
  border: #9796ff 1px solid;
  color: #5c0075;
  box-shadow: 3px 3px rgbA(250,80,255,0.2);
  font-weight: 700;
  display: block;
  width: 50%;
}